
    {% extends "layout.html" %} 
    {% block body %}
     
     
     <!-- Page Header-->
        <header class="masthead" style="background-image:url(' {{ url_for('static',filename='assets/img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your post and save them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                  <h1>Add a new post</h1>
                    
                    <button class="btn btn-warning"><a href="/edit/0">Add a new post</a></button>
                    <button class="btn btn-info"><a href="/logout">Logout</a></button>

                    <hr>

                    <h1>Upload a file</h1>
                    <form action="/uploader" method="post" enctype="multipart/form-data">
                      <input type="file" name="file1">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                    
                      
                      <hr>
                   
        <h2 class="font-weight-light">Edit Posts</h2>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Sno</th>
                            <th scope="col">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                          </tr>
                        </thead>
                        <tbody>

                            {% for post in posts %}
                          <tr>
                            <!-- <th scope="row">1</th> -->
                            <td>{{post.sno}}</td>
                            <td>{{post.title}}</td>
                            <td>{{post.date}}</td>
                            <td><a href="/edit/{{post.sno}}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                            <td><a href="/delete/{{post.sno}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                          </tr>
                          <!-- <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr> -->
                        {% endfor %}
                        </tbody>
                      </table>
                   
                    <!-- Pager-->
                    
                </div>
            </div>
        </div>
        {% endblock %}
       